body {
  background-color: #ecf0f1 !important;
}

.space {
  padding-top: 18vh;
}

.round {
  border-radius: 150px;
  border: 2px solid #2980b9;
}

#name {
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.list {
  padding-left: 3vw;
}

.projectlist {
  padding-left: 1vw;
  list-style-position: inside;
  list-style-type: square;
}

@media screen and (max-width:968px) {
  .query {
    text-align: center;
  }
  .space {
    padding-top: 2vh;
  }
  .projectlist {
    padding-left: 1vw;
    list-style-position: outside;
    text-align: left;
  }
  .list {
    padding-left: 3vw;
    text-align: left;
  }
}